
.overview__sum {
  display: flex;
  justify-content: space-between;

  &:first-child {
    margin-bottom: 1rem;
  }

  &:hover {
    border-bottom: 1px solid black;
    cursor: pointer;
  }

  .overview__price__positive {
    color: green;
  }
  .overview__price__negative {
    color: red
  }
}