@import 'assets/styles/variables';

.transaction__container {
  align-items: top;
  background-color: rgb(230, 229, 229);
  border-radius: 1rem;
  display: flex;
  margin-bottom: 1rem;
  padding: 1rem;

  .transaction__payment{
    width: 15%;
  }

  .transaction__body {
    margin-left: 5%;
    width: 80%;

    .transaction__description__date{
      display: flex;
      justify-content: space-between;
    }

    .transaction__price__positive {
      color: green;
    }
    .transaction__price__negative {
      color: red;
    }
  }
}