@import 'assets/styles/variables';

.transaction__container {
  background-color: rgb(230, 229, 229);
  border-radius: 1rem;
  display: flex;
  margin-bottom: 1rem;
  padding: 1rem;

  &:hover {
    cursor: pointer;
  }

  .transaction__category{
    align-items: center;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    // width: 4rem;

    .transaction__category--icon {
      border: 0.5px solid black;
      border-radius: 50%;
      height: 3rem;
      line-height: 3rem;
      text-align: center;
      margin: 0 0.5rem;
      width: 3rem;
    }
  }

  .transaction__body {
    display: flex;
    flex-direction: column;
    margin: 0 4%;
    width: 100%;

    .transaction__place{
      margin-bottom: 0.5rem;
    }
    .transaction__price__positive {
      color: $positiveMoney;
    }
    .transaction__price__negative {
      color: $negativeMoney;
    }
  }

  .transaction__date{
    align-items: center;
    display: flex;
    width: 6rem;
    margin: 0 0.5rem;
  }
}