@import 'assets/styles/variables.scss';

.addtransaction__container {
  bottom: 1rem;
  display: flex;
  height: 5rem;
  justify-content: flex-end;
  position:-webkit-sticky;
  position: sticky;

  //position of + button @media
  height: 6rem;
  margin-right: 1.5rem; 
  margin-top: -7rem;
  @media (max-width: $smallmob) { 
    height: 3.5rem;
    margin-right: 1rem; 
    margin-top: -4.75rem;
  }
  @media (min-width: $smallmob) and (max-width: $mobile) { 
    height: 5rem;
    margin-right: 1rem; 
    margin-top: -6rem;
  }

  .addtransaction__button {
    background: white;
    border: 0.4rem double $positiveMoney;
    border-radius: 50%;
    color: $positiveMoney;
    font-size: 150%;
    padding: 0;
    transition: 100ms;
    
    // size of + button @media
    height: 5rem;
    width: 5rem;
    @media (max-width: $smallmob) {
      height: 3rem;
      width: 3rem;
    }
    @media (min-width: $smallmob) and (max-width: $mobile) {
      height: 4rem;
      width: 4rem;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .addtransaction__button-x{
    transition: 100ms;
    transform: rotate(45deg);
  }

  .addtransaction__button-position{
    display: none;
  }
}