@import 'assets/styles/variables.scss';

.barChart__container{
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .barChart__bar--containerMaxSize {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 15rem;

    .barChart__bar--containerRelativeSize {
      align-items: center;
      background: green;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-radius: 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      min-height: 3rem;
      position: relative;
      width: $barwidth;

      .barChart__bar--amountMoney {
        position: absolute;
        top: -2.5rem;
        font-size: 85%;
        .barChart__bar--amountMoney--moneySign{
          display: block;
        }
        .barChart__bar--amountMoney--moneyText100k{
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          width: $barwidth;

          &:hover {
            overflow: auto;
            width: auto;
          }
        }
      }

      .barChart__bar--icon {
        height: $barwidth;
        padding: 0.5rem;
        width: $barwidth;
      }
    }
  }

  .barChart__categoryName--container {
    padding: 1.5rem;
    width: $barwidth;
    height: 5rem;
    
    .barChart__categoryName--text {
      margin-left: - calc(1.5 * $barwidth);
      overflow: hidden;
      text-align: center;
      text-overflow: ellipsis;
      transform: rotate(290deg);
      white-space: nowrap;
      width: 7rem;
    }
  }
}
