.transactions__container {
  position: relative;

  .transactions__seeall {
      position: absolute;
      right: 2rem;
  }

  .transactions__title {
    font-weight: bold;
    margin-bottom: 1rem;
  }
}