@import 'assets/styles/variables.scss';

.addtransaction__container {
  bottom: 1rem;
  display: flex;
  justify-content: flex-end;
  margin-top: -4rem;
  position:-webkit-sticky;
  position: sticky;

  @media (max-width: $smallmob) { margin-right: 1.5rem; }
  @media (min-width: $smallmob) and (max-width: $mobile) { margin-right: calc(1rem + $hpadding-mobile); }
  @media (min-width: $mobile) and (max-width: $desktop_sm) { margin-right: $hpadding-desksm; }
  @media (min-width: $desktop_sm) and (max-width: $desktop_md) { margin-right: $hpadding-deskmd; }
  @media (min-width: $desktop_md) { margin-right: $hpadding-deskbg; }

  .addtransaction__button {
    background: white;
    border: 0.4rem double rgb(16, 220, 6);
    border-radius: 50%;
    color: rgb(7, 148, 0);
    font-size: 150%;
    height: 5rem;
    padding: 0;
    transition: 100ms;
    width: 5rem;

    @media (max-width: $smallmob) {
      height: 3rem;
      width: 3rem;
    }
    @media (min-width: $smallmob) and (max-width: $mobile) {
      height: 4rem;
      width: 4rem;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .addtransaction__button-x{
    transition: 100ms;
    transform: rotate(45deg);
  }
}