.userheader__container {
  background: none !important;
  border: none !important;
  padding: 0 1rem !important;
  padding-top: 2rem !important;

  .userheader__nav {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
  }
}