@import './variables.scss';

main {
  overflow: auto;
  min-height: calc(100vh - 10rem);
}

.theme__padding {
  @media (max-width: $mobile) {
    padding-left: $hpadding-mobile;
    padding-right: $hpadding-mobile;
  }

  @media (min-width: $mobile) and (max-width: $desktop_sm) {
    padding-left: $hpadding-desksm;
    padding-right: $hpadding-desksm;
  }

  @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
    padding-left: $hpadding-deskmd;
    padding-right: $hpadding-deskmd;
  }

  @media (min-width: $desktop_md) {
    padding-left: $hpadding-deskbg;
    padding-right: $hpadding-deskbg;
  }
}

.theme__homesections {
  @media (max-width: $mobile) {
    border: 2px solid black;
    border-radius: 5px;
    margin: 1rem auto;
    padding: 2rem;
    width:100%;
  }
  @media (min-width: $mobile) and (max-width: $desktop_sm) {}
  @media (min-width: $desktop_sm) and (max-width: $desktop_md) {}
  @media (min-width: $desktop_md) {}
}

//to use in the components
@media (max-width: $mobile) {}
@media (min-width: $mobile) and (max-width: $desktop_sm) {}
@media (min-width: $desktop_sm) and (max-width: $desktop_md) {}
@media (min-width: $desktop_md) {}