@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap');

main {
  display: flow-root;
  min-height: calc(100vh - 10rem);
}

.theme__padding {
  @media (max-width: $smallmob) {
    padding-left: $hpadding-smallmob;
    padding-right: $hpadding-smallmob;
  }

  @media (min-width: $smallmob) and (max-width: $mobile) {
    padding-left: $hpadding-mobile;
    padding-right: $hpadding-mobile;
  }

  @media (min-width: $mobile) and (max-width: $desktop_sm) {
    padding-left: $hpadding-desksm;
    padding-right: $hpadding-desksm;
  }

  @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
    padding-left: $hpadding-deskmd;
    padding-right: $hpadding-deskmd;
  }

  @media (min-width: $desktop_md) {
    padding-left: $hpadding-deskbg;
    padding-right: $hpadding-deskbg;
  }
}

.theme__page {
  background: $page-background;
  color: white;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  justify-content: space-between;
  min-height: calc(100vh - 10rem);
  padding-bottom: 1rem;

  .theme__homesections {
    background: $mainsections-background;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    
    @media (max-width: $smallmob) { padding: $compPadding-smallmob; margin: 1.5rem auto;}
    @media (min-width: $smallmob) and (max-width: $mobile) { padding: $compPadding-mobile; margin: 1.5rem auto;}
    @media (min-width: $mobile) and (max-width: $desktop_sm) { padding: $compPadding-desksm; }
    @media (min-width: $desktop_sm) and (max-width: $desktop_md) { padding: $compPadding-deskmd; }
    @media (min-width: $desktop_md) { padding: $compPadding-deskbg; }

    h2 {
      font-weight: 500;
      font-size: 110%;
      margin-bottom: 1.5rem;
    }
  }
}

.imgError {
  display: none !important;
}

//to use in the components
@import 'assets/styles/variables.scss';
@media (max-width: $smallmob) {}
@media (min-width: $smallmob) and (max-width: $mobile) {}
@media (min-width: $mobile) and (max-width: $desktop_sm) {}
@media (min-width: $desktop_sm) and (max-width: $desktop_md) {}
@media (min-width: $desktop_md) {}