// contianer padding
$hpadding-mobile: 2rem;
$hpadding-desksm: 10rem;
$hpadding-deskmd: 20rem;
$hpadding-deskbg: 25rem;

// space between elements
$btw-elements: 1.5rem;
$btw-elements-mobile: 1.5rem;
$btw-elements-desksm: 1.5rem;
$btw-elements-deskmd: 1.5rem;
$btw-elements-deskbg: 1.5rem;

// font-size + colors
$font-size: 1.3rem;
$font-size-h1: 2.5rem;
$font-weight-h1: 700;
$menuColor: #4d4d4d;

// breakpoints
$mobile: 768px;
$desktop_sm: 980px;
$desktop_md: 1280px;

// login containers
$width-maxmobile: 45rem;
$width-maxtablet: 60rem;
$width-mediumdesk: 80rem;
$width-largedesk: 90rem;