// contianer padding
$hpadding-smallmob: 1.5rem;
$hpadding-mobile: 1.5rem;
$hpadding-desksm: 10rem;
$hpadding-deskmd: 20rem;
$hpadding-deskbg: 25rem;

// theme_componentsections
$positiveMoney: rgb(0, 255, 0);
$negativeMoney: rgb(255, 90, 90);
$mainsections-background: rgb(34, 34, 82);
$page-background: rgb(0, 0, 31);


// font-size + colors
$font-size: 1.3rem;
$font-size-h1: 2.5rem;
$font-weight-h1: 700;
$menuColor: #4d4d4d;

// breakpoints
$smallmob: 450px;
$mobile: 768px;
$desktop_sm: 980px;
$desktop_md: 1280px;

// login containers
$width-maxmobile: 45rem;
$width-maxtablet: 60rem;
$width-mediumdesk: 80rem;
$width-largedesk: 90rem;