@import 'styles/variables';

.resetpassword__container {
  margin: 0 auto;

  @media (max-width: $mobile) {
    width: 100%;
    max-width: $width-maxmobile;
  }
  @media (min-width: $mobile) and (max-width: $desktop_sm) {
    width: $width-maxtablet;
  }
  @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
    width: $width-mediumdesk;
  }
  @media (min-width: $desktop_md) {
    max-width: $width-largedesk;
  }

  .resetpassword__pagetitle {
    font-size: 1.7rem;
    font-weight: bold;
    margin: 2rem 0;
  }

  .resetpassword__block {
    background: rgb(230, 230, 230);
    border-radius: 5px;
    padding: 1.5rem;

    .resetpassword__text {
      font-weight: bold;
      margin-bottom: 1rem;
      text-align: center;
    }

    .resetpassword__label {
      display: block;
      font-weight: bold;
      margin-top: 1.5rem;
    }

    .resetpassword__input {
      border: none;
      border-radius: 0.4rem;
      height: 3.5rem;
      padding-left: 0.5rem;
      width: 100%;
    }

    .resetpassword__inputalert{
      color: rgb(255, 78, 78);
      display: block;
      font-size: 80%;
      margin-top: 0.5rem;
    }

    .resetpassword__button {
      background: $menuColor;
      border: none;
      border-radius: 2rem;
      color: white;
      font-weight: bold;
      height: 4rem;
      margin-top: 1.5rem;
      width: 100%;

      &:hover {
        cursor: pointer;
      }
    }

    .resetpassword__login {
      display: flex;
      justify-content: center;
      text-decoration: underline;
      margin: 0.5rem 0;
      margin-top: 1.5rem;
    }

    .resetpassword__createaccount {
      text-align: center;
      a {
        text-decoration: underline;
      }
    }
  }
}